@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: o;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    width: 120cap;
    height: 120cap;
}

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme #block21 {
    background-color: rgba(45, 45, 45, 0.719);
}

body.dark-theme #block41 {
    background-color: #2d2d2d;
}

body.dark-theme #footer1 {
    background-color: #1e1e1e;
}

body.dark-theme #Menu {
    background-color: #2d4037;
}

body.dark-theme .karamelka {
    color: #ffffff;
}

body.dark-theme .text p,
body.dark-theme .textf p,
body.dark-theme .text1 p,
body.dark-theme .text2 p {
    color: #e0e0e0;
}

body.dark-theme #block4 {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

#header h3.unauthorized {
    right: -6px;
}

#header h3.authorized {
    right: 20px;
}

h1 {
    text-align: center;
    padding-top: 60px;
    padding-left: 70px;
    font-size: 75px;
}

#header {
    position: fixed;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.719);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 80px;
    width: 50%;
    width: 1143px;
    border-radius: 50px;
    margin: auto;
    margin-top: -150px;
    transform: translateX(-50%);
    z-index: 100;
}

#nav {
    list-style: none;
    display: block;
    text-align: center;
    padding-top: 10px;
    word-spacing: 5cap;
    font-size: 20px;
}

#nav a:hover {
    color: rgb(0, 0, 0);
}

#nav a {
    display: inline;
    margin: auto;
    padding: 8px 30px;
    transition: color 0.7s;
    color: rgba(71, 71, 71, 0.575);
    text-decoration: none;
}

#header h3 {
    text-align: center;
    font-size: 26px;
    padding: 8px 30px;
    position: absolute;
    margin: auto;
    right: -4px;
}

#header #avtarization {
    background-color: rgba(247, 247, 247, 0.527);
    border-radius: 60px;
    color: #000000bd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    width: 230px;
    height: 50px;
    border: 2px solid #0000009a;
    position: absolute;
    right: 23px;
    top: 15px;
    transition: color 0.7s, transform 0.5s ease;
}

#header:hover #avtarization:hover {
    transform: scale(1.02);
    color: rgb(0, 0, 0);
    border-color: black;
    background-color: rgba(255, 255, 255, 0.603);
}

.fa-solid {
    position: absolute;
    margin: auto;
    top: 16px;
    left: 20px;
}

#avatar {
    background-image: url(../img/picture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    position: absolute;
    top: 15px;
    left: 2.3%;
}

.karamelka {
    color: rgb(0, 0, 0); 
    text-align: right;
    font-size: 30px;
    padding-left: 65px;
    position: absolute;
    top: -30px;
}

#block21 {
    background-color: rgba(255, 248, 236, 0.719);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: block;
    height: 80cap;
    width: 120cap;
    border-radius: 60px;
    margin: auto;
    float: center;
    margin-top: 220px;
}

#block31 {
    display: block;
    height: 80cap;
    width: 55cap;
    margin: auto;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.blockimg {
    background-image: url(../img/105.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

.blockimg326 {
    background-image: url(../img/326.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

.blockimg546 {
    background-image: url(../img/546.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

.blockimg1113 {
    background-image: url(../img/1113.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

.blockimg2398 {
    background-image: url(../img/2398.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

.blockimg6160 {
    background-image: url(../img/6160.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

#block21 p2 {
    color: rgb(255, 153, 0);
    text-shadow: 0 0 2px rgb(212, 127, 0);
    font-weight: 400;
}

#block21 p3 {
    color: rgb(204, 0, 255);
    text-shadow: 0 0 2px rgb(225, 0, 255);
}


b {
    color: rgb(0, 255, 0);
}

.Vaun1 {
    background-image: url(../img/ScreenVaun1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

.Vaun2 {
    background-image: url(../img/ScreenVaun2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35cap;
    width: 55cap;
    border-radius: 40px;
}

.text p {
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}

.textf p {
    font-size: 20px;
    text-align: center;
    margin-top: -35px;
    clear: both;
}

.text1 p {
    font-size: 30px;
    float: left;
    text-align: left;
    margin-top: 450px;
}

.text2 p {
    font-size: 20px;
    float: left;
    text-align: left;
    margin-top: -10px;
    clear: both;
}

#block41 {
    background-color:  rgb(255, 255, 255);
    display: block;
    height: 60cap;
    width: 60cap;
    margin: auto;
    float: right;
    border-radius: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

#block4 {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 60cap;
    width: 120cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 200px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.199);
}

#block4 h1 {
    font-size: 40px;
    float: left;
}

#block4 h2 {
    font-size: 30px;
    float: left;
}

#block4-2 {
    display: block;
    height: 60cap;
    width: 60cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: left;
}

#block4-2 h1 {
    font-size: 55px;
}

#block4-2 h2 {
    font-size: 30px;
}

#block4-img {
    display: block;
    background-image: url(../img/1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50cap;
    width: 50cap;
    border-radius: 0;
    text-align: center;
    float: right;
    margin-top: 5cap;
    margin-right: 5cap;
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 
        0 0 25px rgba(0, 0, 0, 0.6),
        inset 0 0 25px rgba(255, 255, 255, 0.1);
    -webkit-mask-image: url(../img/1.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../img/1.png);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

#block4-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    transform: skewX(-25deg);
    transition: left 0.8s ease;
    z-index: 1;
    -webkit-mask-image: url(../img/1.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../img/1.png);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

#block4-img:hover {
    box-shadow: 
        0 10px 40px rgba(0, 0, 0, 0.815);
    transform: scale(1.02);
    filter: 
        brightness(1.1);
}

#block4-img:hover::before {
    left: 100%;
    transition: left 0.8s ease;
}

#footer1 {
    background-color:  rgb(255, 255, 255);
    height: 42cap;
    width: 120cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 20cap;
    z-index: 0;
}

#Menu {
    background-color:  rgb(224, 255, 216);
    height: 8cap;
    width: 120cap;
    margin: 0;
    float: center;
    margin-top: 60px;
    padding: 0;
}

#MenuImg {
    background-image: url(../img/Screen3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    height: 32cap;
    width: 60cap;
    margin-top: 48px;
    margin-left: 620px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.pm2, .pm3, .pm4 {
    font-size: 40px;
    text-align: left;
    margin-right: 100px;
}

.pm3 {
    font-size: 20px;
    margin-top: -40px;
}

.pm4 {
    font-size: 20px;
    margin-top: -20px;
}

li {
    list-style-type: none;
}

#Seti {
    position: absolute;
    height: 90px;
    width: 500px;
    margin-left: 850px;
    font-size: 35px;
}

.icon {
    display: flex;
    margin-left: 0px;
    gap: 80px;
    margin-top: 28px;
    margin-left: 20px;
}

#cont1, #cont2, #cont3, #cont4 {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 40px;
    margin-left: -730px;
    margin-top: 40px;
    font-size: 13px;
}

#cont2 {
    margin-left: -530px;
}

#cont3 {
    margin-left: -330px;
}

#cont4 {
    margin-left: -170px;
}


@media (max-width: 1000px) {

    #footer1 {
        height: 60cap;
        width: 120cap;
        margin-top: 10cap;
        border-radius: 0px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }
}