@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: o;
    padding: 0;
}


body {
    background-color: rgb(236, 236, 236);
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    user-select: none;
    width: 120cap;
    margin: auto;
}

h1 {
    text-align: left;
    padding-left: 70px;
    font-size: 50px;
}

h2 {
    text-align: left;
    font-size: 30px;
    padding-left: 70px;
}

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme #buttonVipl2 .fa-solid, body.dark-theme #buttonVipl1 .fa-solid{
    color: rgb(255, 255, 255);
}

body.dark-theme .fa-solid {
    color: rgb(255, 255, 255);
}

body.dark-theme #block3,
body.dark-theme #block3-2,
body.dark-theme #block4,
body.dark-theme #footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-theme #block21 {
    background-color: #2c2c2c;
    color: #e0e0e0;
}

body.dark-theme #Menu {
    background-color: #2d4037;
}

body.dark-theme .karamelka {
    color: #ffffff;
}

body.dark-theme h1 b {
    color: rgb(1, 224, 57);
    text-shadow: 0 0 20px rgba(1, 224, 57, 0.4);
}

body.dark-theme b {
    text-shadow: 0 0 20px rgba(1, 224, 57, 0.4);
}

body.dark-theme #header {
    background-color: rgba(30, 30, 30, 0.719);
    color: #e0e0e0;
}

body.dark-theme #header #avtarization {
    background-color: rgba(40, 40, 40, 0.527);
    color: #e0e0e0bd;
    border: 2px solid #e0e0e09a;
}

body.dark-theme #nav a {
    color: rgba(200, 200, 200, 0.575);
}

body.dark-theme #nav a:hover {
    color: #ffffff;
}

body.dark-theme #header:hover #avtarization:hover {
    color: #ffffff;
    border-color: #ffffff;
    background-color: rgba(60, 60, 60, 0.603);
}

body.dark-theme #vipTop {
    background-color: #2d2d2d;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

body.dark-theme #viplTop {
    background-color: #2d2d2d;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

body.dark-theme #block3-2 h6 {
    color: #ffffff;
}

body.dark-theme .fa-facebook-f,
body.dark-theme .fa-twitter,
body.dark-theme .fa-instagram,
body.dark-theme .fa-youtube {
    color: rgba(255, 255, 255, 0.7);
}

body.dark-theme .fa-facebook-f:hover,
body.dark-theme .fa-twitter:hover,
body.dark-theme .fa-instagram:hover,
body.dark-theme .fa-youtube:hover {
    color: rgb(1, 224, 57);
}

#block21 h1 {
    text-align: left;
    padding-left: 50px;
    font-size: 50px;
    margin-top: -10px;
}

#block21 h2 {
    text-align: left;
    font-size: 30px;
    padding-left: 50px;
}

#viplTop p2 {
    color: rgb(255, 153, 0);
    text-shadow: 0 0 2px rgb(212, 127, 0);
    font-weight: 400;
}

#viplTop p3 {
    color: rgb(204, 0, 255);
    text-shadow: 0 0 2px rgb(225, 0, 255);
}

h1 b{
    color: rgb(1, 224, 57);
}

#nav {
    list-style: none;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    right: 25px;
}

#nav a:hover {
    color: rgb(0, 0, 0);
}

#nav a {
    display: inline;
    margin: auto;
    padding: 8px 30px;
    transition: color 0.7s;
    color: rgba(71, 71, 71, 0.575);
    text-decoration: none;
}

#header h3 {
    text-align: center;
    font-size: 26px;
    padding: 8px 30px;
    position: absolute;
    margin: auto;
    right: -4px;
}

#header #avtarization {
    background-color: rgba(247, 247, 247, 0.527);
    border-radius: 60px;
    color: #000000bd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    width: 230px;
    height: 50px;
    border: 2px solid #0000009a;
    position: absolute;
    right: 23px;
    top: 15px;
    transition: color 0.7s, transform 0.5s ease;
}

#header:hover #avtarization:hover {
    transform: scale(1.02);
    color: rgb(0, 0, 0);
    border-color: black;
    background-color: rgba(255, 255, 255, 0.603);
}

#avatar {
    background-image: url(../img/picture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    position: absolute;
    top: 15px;
    left: 2.3%;
}

.karamelka {
    color: rgb(0, 0, 0); 
    text-align: right;
    font-size: 30px;
    padding-left: 65px;
    position: absolute;
    top: -30px;
}

#katalog h1 {
    margin: auto;
    margin-left: -100px;
    font-size: 90px;
    text-align: center;
}

#katalog h2 {
    margin: auto;
    margin-left: -100px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
}

.PPOP {
    padding-top: 330px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#vipl1, #vipl2 {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.404);
    height: 340px;
    width: 500px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    float: left;
    margin: auto;
    transition: color 0.7s, transform 0.5s ease;
    transition: box-shadow 0.4s ease, transform 0.3s ease;
    background-size: cover;
    background-position: 0px -100px;
    background-repeat: no-repeat;
    margin: 100px 100px 0px 45px;
}

#vipl1 {
    background-image: url(../img/ScreenVaun2.png);
    margin-left: 100px;
}

#vipl2 {
    background-image: url(../img/ScreenVaun1.png);
}

#vip1, #vip2, #vip3, #vip4, #vip5, #vip6 {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.404);
    height: 225px;
    width: 330px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    float: left;
    margin: auto;
    transition: color 0.7s, transform 0.5s ease;
    transition: box-shadow 0.4s ease, transform 0.3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 100px;
    margin-top: 160px;
    margin-left: 45px;
}

#vip1:last-child, #vip2:last-child, #vip3:last-child {
    margin-top: 140px;
}

#vip3:last-child, #vip6:last-child {
    margin-right: 0;
}

#vip1 {
    background-image: url(../img/105.png);
}

#vip2 {
    background-image: url(../img/326.png);
}

#vip3 {
    background-image: url(../img/546.png);
}

#vip4 {
    background-image: url(../img/1113.png);
}

#vip5 {
    background-image: url(../img/2398.png);
}

#vip6 {
    background-image: url(../img/6160.png);
}

#vip1:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(255, 167, 96);
}
#vip2:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(104, 250, 255);
}
#vip3:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
}
#vip4:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(192, 255, 109);
}
#vip5:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(255, 124, 248);
}
#vip6:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(255, 136, 0);
}
#vipl2:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(255, 153, 0);
}
#vipl1:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 40px rgb(183, 0, 255);
}


#vip1:hover #vipTop {
    box-shadow: 0px 0px 40px rgb(255, 167, 96);
}
#vip2:hover #vipTop {
    box-shadow: 0px 0px 40px rgb(104, 250, 255);
}
#vip3:hover #vipTop {
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
}
#vip4:hover #vipTop {
    box-shadow: 0px 0px 40px rgb(192, 255, 109);
}
#vip5:hover #vipTop {
    box-shadow: 0px 0px 40px rgba(255, 124, 248, 0.644);
}
#vip6:hover #vipTop {
    box-shadow: 0px 0px 40px rgba(255, 136, 0, 0.63);
}
#vipl2:hover  #viplTop{
    box-shadow: 0px 0px 40px rgba(255, 153, 0, 0.74);
}
#vipl1:hover  #viplTop{
    box-shadow: 0px 0px 40px rgb(183, 0, 255);
}


#vipTop {
    height: 35%;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.192);
    margin-top: 225px;
}

#viplTop {
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.192);
    margin-top: 330px;
}

#viplTop h4 {
    margin-top: -30px;
    font-size: 20px;
}

#viplTop h3 {
    font-size: 25px;
}

#viplTop h5 {
    font-size: 19px;
    margin-top: -15px;
}

h3 {
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

h4 {
    font-size: 14px;
    text-align: left;
    margin-top: -35px;
    margin-left: 20px;
}

h5 {
    font-size: 18px;
    text-align: left;
    margin-top: -5px;
    margin-left: 19px;
}

.fa-solid {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-left: -2px;
}

#buttonVip1, #buttonVip2, #buttonVip3, #buttonVip4, #buttonVip5, #buttonVip6 {
    float: right;
    background-color: rgb(9, 255, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    width: 60px;
    height: 40px;
    border-radius: 15px;
    position: relative;
    bottom: 50px;
    right: 20px;
    text-align: center;
    margin-top: -20px;
}

#buttonVip1:hover, #buttonVip2:hover, #buttonVip3:hover, #buttonVip4:hover, #buttonVip5:hover, #buttonVip6:hover {
    box-shadow: 0px 0px 10px rgb(0, 255, 34);
    border-radius: 10px;
}

#buttonVipl2 {
    float: right;
    background-color: rgb(255, 153, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    width: 100px;
    height: 50px;
    border-radius: 15px;
    position: relative;
    bottom: 50px;
    right: 20px;
    text-align: center;
    margin-top: -35px;
}

#buttonVipl1 {
    float: right;
    background-color: rgb(225, 0, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    width: 100px;
    height: 50px;
    border-radius: 15px;
    position: relative;
    bottom: 50px;
    right: 20px;
    text-align: center;
    margin-top: -35px;
}

#buttonVipl2:hover {
    box-shadow: 0px 0px 10px rgb(255, 136, 0);
    border-radius: 10px;
}

#buttonVipl1:hover {
    box-shadow: 0px 0px 10px rgb(225, 0, 255);
    border-radius: 10px;
}

#buttonVipl2 .fa-solid, #buttonVipl1 .fa-solid{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: 15px;
}

li {
    list-style-type: none;
}

#block21 {
    display: block;
    background-color: rgb(244, 255, 243);
    height: 30cap;
    width: 120cap;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 220px;
    z-index: 20;
}

#block21-1 {
    float: left;
    height: 30cap;
    width: 90cap;
}

#block3 {
    display: block;
    background-color: rgb(223, 255, 220);
    height: 80cap;
    width: 120cap;
    text-align: center;
    margin: auto;
    float: center;
    z-index: 10;
}

#block3-2 {
    display: block;
    background-color: rgb(223, 255, 220);
    height: 70cap;
    width: 120cap;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    z-index: 10;
}

b {
    color: rgb(1, 224, 57);
}

#block3-2 h6 {
    color: rgb(0, 0, 0);
    font-size: 70px;
    margin: auto;
    text-align: center;
}

#block4 {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 60cap;
    width: 120cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 150px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.199);
}

#block4 h1 {
    font-size: 40px;
    float: left;
}

#block4 h2 {
    font-size: 30px;
    float: left;
}

#block4-2 {
    display: block;
    height: 60cap;
    width: 60cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: left;
}

#block4-2 h1 {
    font-size: 55px;
}

#block4-2 h2 {
    font-size: 30px;
}

#block4-img {
    display: block;
    background-image: url(../img/1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50cap;
    width: 50cap;
    border-radius: 0;
    text-align: center;
    float: right;
    margin-top: 5cap;
    margin-right: 5cap;
    position: relative;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 
        0 0 25px rgba(0, 0, 0, 0.6),
        inset 0 0 25px rgba(255, 255, 255, 0.1);
    -webkit-mask-image: url(../img/1.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../img/1.png);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

#block4-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent
    );
    transform: skewX(-25deg);
    transition: left 0.8s ease;
    z-index: 1;
    -webkit-mask-image: url(../img/1.png);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../img/1.png);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

#block4-img:hover {
    transform: scale(1.02);
    filter: 
        brightness(1.1);
}

#block4-img:hover::before {
    left: 100%;
    transition: left 0.8s ease;
}

#footer {
    background-color:  rgb(255, 255, 255);
    height: 42cap;
    width: 120cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 10cap;
    z-index: 0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.171);
}

#Menu {
    background-color:  rgb(224, 255, 216);
    height: 8cap;
    width: 120cap;
    margin: 0;
    float: center;
    margin-top: 60px;
    padding: 0;
}

#MenuImg {
    background-image: url(../img/Screen3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    height: 32cap;
    width: 60cap;
    margin-top: 48px;
    margin-left: 620px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.pm2, .pm3, .pm4 {
    font-size: 40px;
    text-align: left;
    margin-right: 100px;
}

.pm3 {
    font-size: 20px;
    margin-top: -40px;
}

.pm4 {
    font-size: 20px;
    margin-top: -20px;
}

li {
    list-style-type: none;
}

#Seti {
    position: absolute;
    height: 90px;
    width: 500px;
    margin-left: 850px;
    font-size: 35px;
}

.icon {
    display: flex;
    margin-left: 0px;
    gap: 80px;
    margin-top: 28px;
    margin-left: 20px;
}

#cont1, #cont2, #cont3, #cont4 {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 40px;
    margin-left: -730px;
    margin-top: 40px;
    font-size: 13px;
}

#cont2 {
    margin-left: -530px;
}

#cont3 {
    margin-left: -330px;
}

#cont4 {
    margin-left: -170px;
}


@media (max-width: 1000px) {

    #block21 {
        height: 50cap;
        width: 120cap;
        margin-top: 220px;
        z-index: 20;
    }

    #block21-1 {
        height: 50cap;
        width: 120cap;
        z-index: 20;
    }

    #block21 h1 {
        font-size: 100px;
        margin-top: 20px;
    }

    #block21 h2 {
        font-size: 50px;
    }

    #block3 {
        height: 170cap;
        width: 120cap;
    }

    #block3-2 {
        height: 80cap;
        width: 120cap;
    }

    #block3-2 h3 {
        font-size: 40px;
    }

    #viplTop h4 {
        font-size: 40px;
        margin-top: -40px;
    }

    #viplTop h5 {
        font-size: 35px;
        margin-top: -40px;
    }

    #vip1, #vip2, #vip3, #vip4, #vip5, #vip6 {
        height: 340px;
        width: 500px;
        margin: 90px;
    }

    #vip4 {
        margin-top: 150px;
        margin-left: 180px;
    }

    #vip5, #vip6 {
        margin-top: 150px;
    }

    #vipTop {
        height: 35%;
        width: 100%;
        margin-top: 340px;
    }

    #vipl1, #vipl2 {
        height: 440px;
        width: 600px;
        margin: 110px 20px 0px 45px;
        background-position: 0px -140px;
    }

    #viplTop {
        height: 40%;
        width: 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.192);
        margin-top: 380px;
    }

    #buttonVipl2 {
        width: 170px;
        height: 70px;
        margin-top: -80px;
    }

    #buttonVipl1 {
        width: 170px;
        height: 70px;
        margin-top: -80px;
    }

    #buttonVipl2 .fa-solid, #buttonVipl1 .fa-solid{
        color: rgb(0, 0, 0);
        font-size: 35px;
        margin-top: 20px;
    }

    #block3 .fa-solid {
        font-size: 25px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 30px;
        margin-top: -60px;
    }

    h5 {
        font-size: 28px;
        margin-top: -30px;
    }

    #buttonVip1, #buttonVip2, #buttonVip3, #buttonVip4, #buttonVip5, #buttonVip6 {
        width: 120px;
        height: 50px;
        margin-top: -45px;
    }

    #header .fa-solid {
        position: absolute;
        margin: auto;
        top: 31px;
        left: 20px;
    }
}

@media (max-width: 1000px) {
    #block4 {
        height: 210cap;
        width: 120cap;
    }

    #block4-2 {
        height: 100cap;
        width: 120cap;
    }

    #block4-2 h1 {
        font-size: 110px;
    }

    #block4-2 h2 {
        font-size: 60px;
    }

    #block4-img {
        height: 100cap;
        width: 100cap;
    }
}