@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
}


body {
    background-color: rgb(236, 236, 236);
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    width: 120cap;
    margin: auto;
}

h1 {
    text-align: left;
    padding-top: 60px;
    padding-left: 70px;
    font-size: 50px;
}

h2 {
    text-align: left;
    font-size: 30px;
    padding-left: 70px;
}

#block2 h2 {
    font-size: 28px;
}

#pm {
    height: 20cap;
    width: 120cap;
    text-align: center;
    margin: auto;
    float: center;
}

.pm {
    font-size: 100px;
    padding-top: 60px;
}

#footertextconteiner b{
    color: rgb(0, 211, 112);
}

h1 b{
    color: rgb(0, 211, 112);
}

b1 {
    color: rgb(0, 211, 112);
}

.PPOP {
    padding-top: 360px;
    font-size: 30px;
    color: #c900b8;
    text-shadow: 
        0 0 20px rgb(211, 0, 200);
}

#header {
    position: fixed;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.719);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 80px;
    width: 1143px;
    border-radius: 50px;
    margin: auto;
    margin-top: -150px;
    transform: translateX(-50%);
    z-index: 100;
}

#nav {
    list-style: none;
    display: block;
    text-align: center;
    padding-top: 10px;  
    word-spacing: 5cap;
    font-size: 20px;
}

#nav a {
    display: inline;
    margin: auto;
    padding: 8px 30px;
    transition: color 0.7s;
    color: rgba(71, 71, 71, 0.575);
    text-decoration: none;
    position: relative;
}

#nav a::before {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: rgb(0, 211, 112);
    transition: width 0.3s ease;
}

#nav a:hover {
    color: rgb(0, 0, 0);
}

#nav a:hover::before {
    width: 100%;
}

#header h3 {
    text-align: center;
    font-size: 26px;
    padding: 8px 30px;
    position: absolute;
    margin: auto;
    right: -6px;
}

#header h3.unauthorized {
    right: -6px;
}

#header h3.authorized {
    right: 20px;
}

#header #avtarization {
    background-color: rgba(247, 247, 247, 0.527);
    border-radius: 60px;
    color: #000000bd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    width: 230px;
    height: 50px;
    border: 2px solid #0000009a;
    position: absolute;
    right: 23px;
    top: 15px;
    transition: color 0.7s, transform 0.5s ease;
}

#header:hover #avtarization:hover {
    transform: scale(1.02);
    color: rgb(0, 0, 0);
    border-color: black;
    background-color: rgba(255, 255, 255, 0.603);
}

.fa-solid {
    position: absolute;
    margin: auto;
    top: 16px;
    left: 20px;
}

#avatar {
    background-image: url(../img/picture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    position: absolute;
    top: 15px;
    left: 2.3%;
}

.karamelka {
    color: rgb(0, 0, 0); 
    text-align: right;
    font-size: 30px;
    padding-left: 65px;
    position: absolute;
    top: -30px;
}

#block2 {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 40cap;
    width: 120cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 220px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.199);
}

#block2img {
    background-image: url(../img/Screen5.png);
    height: 40cap;
    width: 60cap;
    float: right;
    border-radius: 60px;
}

#bottom-container {
    gap: 100px;
    height: 30cap;
    width: 120cap;
    text-align: center;
    margin: auto;
    float: center;
}

#bottom-container, a {
    color: black;
}

#blockff {
    background-image: url(../img/pictureff.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.205);
    transition: all 0.4s ease;
    margin-top: 80px;
    transform: translateY(0);
}

#blockff:hover {
    box-shadow: 0px 0px 25px rgb(238, 112, 255);
    transform: translateY(-15px);
}

#footertextconteiner {
    background-color:  rgb(25, 161, 132);
    height: 140cap;
    width: 120cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
}

#img1, #img2 {
    height: 700px;
    width: 600px;
    border-radius: 60px;
    text-align: center;
    float: left;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.205);
    transition: all 0.4s ease;
    margin-top: 80px;
    transform: translateY(0);
}

#img1:hover, #img2:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    transform: translateY(-15px);
}

#img3, #img4 {
    height: 700px;
    width: 560px;
    border-radius: 60px;
    text-align: center;
    float: left;
}

#img1 {
    background-image: url(../img/Screen4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-top: 100px;
}

#img2 {
    background-image: url(../img/Screen2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 70px;
    margin-top: 800px;
}

#img3 {
    margin-left: 675px;
    margin-top: -1405px;
}

#img4 {
    margin-left: 65px;
    margin-top: -695px;
}

.textImg1, .textImg3 {
    margin-top: 50px;
    font-size: 50px;
    text-align: left;
    margin-left: 18px;
}

.textImg2, .textImg4 {
    font-size: 25px;
    text-align: left;
    margin-left: 18px;
}

#footer {
    background-color:  rgb(255, 255, 255);
    height: 42cap;
    width: 120cap;
    border-radius: 60px;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 10cap;
    z-index: 0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.171);
}

#Menu {
    background-color:  rgb(224, 255, 216);
    height: 8cap;
    width: 120cap;
    margin: 0;
    float: center;
    margin-top: 60px;
    padding: 0;
}

#MenuImg {
    background-image: url(../img/Screen3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    height: 32cap;
    width: 60cap;
    margin-top: 48px;
    margin-left: 620px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.pm2, .pm3, .pm4 {
    font-size: 40px;
    text-align: left;
    margin-right: 100px;
}

.pm3 {
    font-size: 20px;
    margin-top: -40px;
}

.pm4 {
    font-size: 20px;
    margin-top: -20px;
}

li {
    list-style-type: none;
}

#Seti {
    position: absolute;
    height: 90px;
    width: 500px;
    margin-left: 850px;
    font-size: 35px;
}

.icon {
    display: flex;
    margin-left: 0px;
    gap: 80px;
    margin-top: 28px;
    margin-left: 20px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-youtube {
    color: #1212129d;
    transition: all 0.4s ease;
    transform: translateY(0);
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-youtube:hover {
    transform: translateY(-10px);
    color: black;
}

body.dark-theme .fa-facebook-f,
body.dark-theme .fa-twitter,
body.dark-theme .fa-instagram,
body.dark-theme .fa-youtube {
    color: rgba(255, 255, 255, 0.7);
}

body.dark-theme .fa-facebook-f:hover,
body.dark-theme .fa-twitter:hover,
body.dark-theme .fa-instagram:hover,
body.dark-theme .fa-youtube:hover {
    color: #00d370;
}

#cont1, #cont2, #cont3, #cont4 {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 40px;
    margin-left: -730px;
    margin-top: 40px;
    font-size: 13px;
}

#cont2 {
    margin-left: -530px;
}

#cont3 {
    margin-left: -330px;
}

#cont4 {
    margin-left: -170px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 320px;
    height: 100%;
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    color: white;
    z-index: 1000;
    transition: left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar.active {
    left: 0;
}

#sidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.199);
    z-index: 999;
    display: none;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#sidebarOverlay.active {
    display: block;
}

#sidebarToggle {
    position: fixed;
    margin-top: -150px;
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.719);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 40%;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#sidebarToggle:hover {
    background: white;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
    padding: 25px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
}

.sidebar-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #00d370;
}

.close-sidebar {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

.close-sidebar:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(90deg);
}

.sidebar-profile {
    padding: 25px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: rgba(0, 0, 0, 0.1);
}

.profile-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00d370 0%, #00b894 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    text-align: center;
}

.profile-info h3 {
    margin: 0 0 5px 0;
    font-size: 20px;
    font-weight: 600;
}

.profile-info p {
    margin: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.btn-login, .btn-logout {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-login {
    background: #00d370;
    color: white;
}

.btn-login:hover {
    background: #00b894;
    transform: translateY(-2px);
}

.btn-logout {
    background: rgba(220, 53, 69, 0.8);
    color: white;
}

.btn-logout:hover {
    background: #dc3545;
    transform: translateY(-2px);
}

.sidebar-nav {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
    border-left: 3px solid transparent;
}

.sidebar-link:hover {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border-left: 3px solid #00d370;
    padding-left: 30px;
}

.sidebar-link i {
    width: 20px;
    text-align: center;
    font-size: 18px;
}

.sidebar-section {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-section h4 {
    margin: 0 25px 15px 25px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar-footer {
    padding: 25px 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.sidebar-footer p {
    margin: 0 0 15px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    transition: all 0.3s;
}

.social-icons a:hover {
    background: #00d370;
    transform: translateY(-3px);
}

body.sidebar-open {
    overflow: hidden;
}

@media (max-width: 768px) {
    #sidebar {
        width: 280px;
        left: -280px;
    }
    
    #sidebarToggle {
        top: 20px;
        left: 20px;
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
    
    .sidebar-link {
        padding: 12px 20px;
        font-size: 15px;
    }
}

#sidebar::-webkit-scrollbar {
    width: 6px;
}

#sidebar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

#sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}

.theme-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-status {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
}

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-theme #block2,
body.dark-theme #footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-theme #header {
    background-color: rgba(30, 30, 30, 0.719);
    color: #e0e0e0;
}

body.dark-theme #header #avtarization {
    background-color: rgba(40, 40, 40, 0.527);
    color: #e0e0e0bd;
    border: 2px solid #e0e0e09a;
}

body.dark-theme #nav a {
    color: rgba(200, 200, 200, 0.575);
}

body.dark-theme #nav a:hover {
    color: #ffffff;
}

body.dark-theme #footertextconteiner {
    background-color: #1a3a2f;
}

body.dark-theme #Menu {
    background-color: #2d4037;
}

body.dark-theme .karamelka {
    color: #ffffff;
}

body.dark-theme #sidebarToggle {
    background-color: rgba(30, 30, 30, 0.719);
    color: #e0e0e0;
}

body.dark-theme #sidebarToggle:hover {
    background: #2d2d2d;
}

body.dark-theme .sidebar-link .theme-status {
    color: #00d370;
}

b {
    text-shadow: 
        0 0 20px rgba(0, 211, 112, 0.4);
}

@media (max-width: 1000px) {
    #block2 {
    height: 60cap;
    width: 120cap;
    }

    #block2img {
    height: 60cap;
    width: 40cap;
    }

    h1  {
        font-size: 80px;
    }

    #block2 h2 {
        font-size: 35px;
        margin-top: 80px;
    }

    .PPOP {
        position: relative;
        font-size: 40px;
        padding-top: 490px;
    }

    #blockff {
        height: 450px;
        width: 450px;
    }

    #pm {
        height: 20cap;
        width: 120cap;
        text-align: center;
        margin: auto;
        float: center;
        margin-top: 200px;
    }
    
    .pm {
        padding: 100px;
    }

    #footertextconteiner {
        height: 350cap;
        width: 120cap;
    }

    #img1, #img2 {
        height: 1000px;
        width: 1200px;
        background-position: 0 -200px;
    }

    #img2 {
        position: relative;
        margin-left: 70px;
        margin-top: 1100px;
        background-position: 0 -100px;
        margin-top: 1000px;
    }

    #img3, #img4 {
        position: absolute;
        height: 1000px;
        width: 1200px;
        margin-left: 70px;
        margin-top: 1100px;
    }

    #img4 {
        margin-top: 270cap;
    }
    
    .textImg1, .textImg3 {
        font-size: 100px;
    }

    .textImg2, .textImg4 {
        font-size: 50px;
    }

    #footer {
        height: 60cap;
        width: 120cap;
        margin-top: 10cap;
    }

    #Menu {
        height: 8cap;
        width: 120cap;
        z-index: 10;
    }

    #MenuImg {
        background-image: url("");
    }

    .pm2, .pm3, .pm4 {
        font-size: 80px;
        text-align: left;
        margin-right: 100px;
    }

    .pm3 {
        font-size: 40px;
        margin-top: -40px;
    }

    .pm4 {
        font-size: 40px;
        margin-top: -20px;
    }

    #cont1, #cont2, #cont3, #cont4 {
        font-size: 20px;
        margin-top: 20px;
    }

    #cont1 {
        margin-left: -800px;
    }

    #cont2 {
        margin-left: -550px;
    }
}